@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
body {
    position: relative;
    overflow-x: hidden;
}

body,
html {
    height: 100%;
    background-color: #fff;
}

input {
    outline-style: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 7px 14px;
    width: 150px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft";
}

.nav .open>a {
    background-color: transparent;
}

.nav .open>a:hover {
    background-color: transparent;
}

.nav .open>a:focus {
    background-color: transparent;
}

#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-left: 0;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#wrapper.toggled #page-content-wrapper {
    margin-right: -220px;
    position: absolute;
}

#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: #1a1a1a;
    height: 100%;
    left: 220px;
    margin-left: -220px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#page-content-wrapper {
    padding-top: 70px;
    width: 100%;
}

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 220px;
}

.sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
}

.sidebar-nav li:before {
    background-color: #1c1c1c;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}

.sidebar-nav li:first-child a {
    background-color: #1a1a1a;
    color: #ffffff;
}

.sidebar-nav li:nth-child(2):before {
    background-color: #006faf;
}

.sidebar-nav li:nth-child(3):before {
    background-color: #009ac0;
}

.sidebar-nav li:nth-child(4):before {
    background-color: #00ccbc;
}

.sidebar-nav li:nth-child(5):before {
    background-color: #60facb;
}

.sidebar-nav li:nth-child(6):before {
    background-color: #704fa0;
}

.sidebar-nav li:nth-child(7):before {
    background-color: #7c5aae;
}

.sidebar-nav li:nth-child(8):before {
    background-color: #8a6cb6;
}

.sidebar-nav li:nth-child(9):before {
    background-color: #987dbf;
}

.sidebar-nav li:hover:before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}

.sidebar-nav li a {
    color: #dddddd;
    display: block;
    padding: 10px 15px 10px 30px;
    text-decoration: none;
}

.sidebar-nav li.open:hover before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}

.sidebar-nav .dropdown-menu {
    background-color: #222222;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
}

.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    margin-left: 15px;
    position: fixed;
    top: 20px;
    width: 32px;
    z-index: 999;
}

.hamburger:hover {
    outline: none;
}

.hamburger:focus {
    outline: none;
}

.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #000;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}

.hamburger.is-closed:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}

.hamburger.is-closed:hover .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    top: 0;
}

.hamburger.is-closed:hover .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    bottom: 0;
}

.hamburger.is-closed .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
    top: 5px;
}

.hamburger.is-closed .hamb-middle {
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-closed .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 5px;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #000;
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-open .hamb-middle {
    background-color: #000;
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #000;
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-open:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #000;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}

.hamburger.is-open:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

body,
html {
    background-color: #EEF5F9;
}

body h1,
body h2,
body h3,
body h4 {
    color: rgba(0, 0, 0, 0.9);
}

body p,
body blockquote {
    color: rgba(0, 0, 0, 0.7);
}

body a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: underline;
}

body a:hover {
    color: #ffffff;
}

.bg-white {
    background: #fff !important;
    padding: 15px;
}

.has-shadow {
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}


/* 地图部分 */

.demo {
    width: 220px;
    margin: 20px auto;
}


/* citySelector */

.citySelector {
    font: 12px/1.5 tahoma, arial, \5b8b\4f53;
    background: #fff;
    text-align: left;
}

.cityslide {
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #85BEE5;
    border-right-color: #3485C0;
    border-bottom-color: #3485C0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    margin-top: -2px;
}

.cityslide li {
    list-style: none;
    overflow: hidden;
    height: 25px;
    padding: 4px 5px;
}

.cityslide li.on {
    background: #9CD9FF;
    color: #fff;
}

.cityslide li b {
    font-weight: normal;
}

.cityslide li.empty {
    background: #fff2e8;
    color: #666;
}

.cityslide li.empty em {
    color: red;
    font-style: normal;
}

.cityname {
    float: left;
}

.cityspell {
    float: right;
}

.cityBox {
    width: 320px;
    border: 1px solid #85BEE5;
    overflow: hidden;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.cityBox ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.cityBox ul li {
    float: left;
    list-style: none;
    padding: 2px 4px;
    border: 1px solid #85BEE5;
    cursor: pointer;
    margin-left: 4px;
    display: inline;
    background: #E1EFFE;
}

.cityBox ul li.on {
    background: #fff;
    border-bottom-color: #fff;
    position: relative;
}

.hide {
    display: none;
}

p.tip {
    color: #666;
    line-height: 20px;
    padding: 5px;
    margin: 0;
    text-indent: 3px;
}

.hotCity {
    border-top: 1px solid #85BEE5;
    margin-top: -1px;
    clear: left;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
    _margin-bottom: 8px;
}

.cityTab {
    overflow: hidden;
}

.cityTab dl {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.cityTab dl dt {
    float: left;
    padding-left: 3px;
    color: #F30;
    text-indent: 5px;
    font-family: "Lucida console", "consolas", "courier new";
    line-height: 22px;
    font-size: 14px;
    width: 20px;
}

.cityTab dl dd {
    margin-left: 2px;
    float: left;
    width: 290px;
}

.cityTab dl dd a {
    padding-left: 5px;
    width: 66px;
    line-height: 22px;
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cityTab dl dd a:hover {
    text-decoration: underline;
    color: red
}

.cityinput {
    font-size: 12px;
    padding-left: 2px;
    background: url(T1EPyLXm0hXXXXXXXX-200-100.png) no-repeat 150px 5px;
    border: 1px solid #D8D8D8;
}


/* 地图部分结束 */


/* 标签云 */

.fl {
    float: left;
}

.fr {
    float: right;
}

.wrapper {
    width: 200px;
    height: 300px;
    margin: 0 auto;
}

.wrapper p {
    padding-top: 150px;
    line-height: 27px;
    color: #999;
    font-size: 14px;
    text-align: center;
}

.tagcloud {
    position: relative;
    margin-top: 65px;
    margin-left: -13px;
}

.tagcloud a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 11px 30px;
    color: #333;
    font-size: 16px;
    border: 1px solid #e6e7e8;
    border-radius: 18px;
    background-color: #f2f4f8;
    text-decoration: none;
    white-space: nowrap;
    -o-box-shadow: 6px 4px 8px 0 rgba(151, 142, 136, .34);
    -ms-box-shadow: 6px 4px 8px 0 rgba(151, 142, 136, .34);
    -moz-box-shadow: 6px 4px 8px 0 rgba(151, 142, 136, .34);
    -webkit-box-shadow: 6px 4px 8px 0 rgba(151, 142, 136, .34);
    box-shadow: 6px 4px 8px 0 rgba(151, 142, 136, .34);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135, Color='#000000')";
    /*兼容ie7/8*/
    filter: progid: DXImageTransform.Microsoft.Shadow(color='#969696', Direction=125, Strength=9);
    /*strength是阴影大小，direction是阴影方位，单位为度，可以为负数，color是阴影颜色 （尽量使用数字）使用IE滤镜实现盒子阴影的盒子必须是行元素或以行元素显示（block或inline-block;）*/
}

.tagcloud a:hover {
    color: #3385cf;
}


/* 标签云结束 */

.industry_select_1 {
    font-size: 1em;
    /* font-family: 仿宋, serif; */
    width: 105px;
    height: 35px;
    /* display: block; */
    /* margin-left: 10%; */
    /* opacity: 0.8; */
    padding: 0.2em;
    color: #000000;
    border-radius: 5px;
    /* background-color: #bed8df; */
}

.item {
    border-right: 1px solid #eee;
    padding: 15px 0;
    margin-left: 75px;
}

.item_last {
    /* border-right: 1px solid #eee; */
    padding: 15px 0;
    margin-left: 75px;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    min-width: 60px;
    max-width: 50px;
    border-radius: 50%;
}

.bg-red {
    background: #ff7676 !important;
    color: #fff;
}

.bg-green {
    background: #54e69d !important;
    color: #fff;
}

.bg-orange {
    background: #ffc36d !important;
    color: #fff;
}

.title {
    font-size: 1.1em;
    font-weight: 300;
    color: #777;
    margin: 0 20px;
}

.number {
    font-size: 1.8em;
    font-weight: 300;
}

.dropdown-menu a {
    text-decoration: none;
}


/* 表格 */

.card-body {
    padding-left: 5px;
    padding-right: 5px;
    flex: 1 1 auto;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.text-primary {
    color: #2196f3;
}